DATABASE_URL="mysql://root:root@galera-mariadb/galera"
FRONTEND_URL=https://galera.example.com
BACKEND_URL=https://galera.example.com/api/
OIDC_PROVIDER_KEY=exampleprovider
OIDC_DISPLAY_NAME=Example
OIDC_ISSUER=https://keycloak.example.com/realms/{realmname}
OIDC_CLIENT_ID=galera
OIDC_CLIENT_SECRET=clientsecret
OIDC_ALLOW_SIGNUP=false
OIDC_REDIRECT_URL=https://galera.example.com/api/auth/oidc/{providerkey}/callback
OIDC_POST_LOGOUT_REDIRECT_URI=https://galera.example.com/login
OIDC_LINK_EXISTING_BY_EMAIL=false
DISABLE_LOCAL_SIGNUPS=false
DISABLE_LOCAL_AUTH=false
RUST_LOG=info
tower_http=info
RUST_BACKTRACE=0
