[package]
name = "galera"
version = "0.1.0"
authors = ["Ondřej Pešek <iTzBoboCz@users.noreply.github.com>"]
edition = "2021"
license = "GPL-3.0-only"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# Web server
axum = { version = "0.7.1" }
axum-extra = { version = "0.9.0", features = ["typed-routing", "typed-header"] }

# Database
deadpool = { version = "0.10.0", features = ["rt_tokio_1", "serde", "async-trait", "managed" ] }
deadpool-diesel = { version = "0.5.0", features = ["serde","rt_tokio_1"] }
diesel = { version = "2.1.4", features = ["mysql", "chrono"] }
diesel_migrations = "2.1.0"

# Logging
metrics = "0.21.1"
metrics-exporter-prometheus = "0.12.1"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

# Openapi
utoipa = { version = "4.1.0", features = ["axum_extras"] }
utoipa-swagger-ui = { version = "5.0.0", features = ["axum"] }
utoipauto = "0.1.1"

# Validation
email_address = "0.2.4"
lazy-regex = "3.1.0"

# Media
infer = "0.15.0"
image = "0.24.7"

# Utilities
serde_json = "1.0.108"
serde = { version = "1.0.193", features = ["derive"] }
dotenv = "0.15.0"
chrono = { version = "0.4.31", features = ["serde"] }
checksums = "0.9.1"
futures = "0.3.29"
uuid = { version = "1.6.1", features = ["v4"] }
# schemars = { version = "0.8.6", features = ["chrono"] }
jsonwebtoken = "7.2.0"
rand = "0.8.5"
sha2 = "0.10.8"
anyhow = "1.0.75"
directories = "5.0.1"
nanoid = "0.4.0"
sys-info = "0.9.1"
base64 = "0.21.5"
walkdir = "2.4.0"
tokio = { version = "1.34.0", features = ["full"] }
tokio-util = { version = "0.7.10", features = ["io"]}
tower-http = { version = "0.5.0", features = ["cors", "trace"] }

[dev-dependencies]

[workspace]
members = [
  "galera-cli",
]
